	/* 

	todo: opdeling
	-index
	-views
	-general

	*/

.topMenu {
	position: relative;
	width: 800px;	
	height: 140px;
	background-color: rgb(91,192,222);
	width: 50%;
	margin: 0 auto; 
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
}

.views {
	width: 50%;
	margin: 0 auto; 
}

.searchFields {
	width: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

input {
	width: 200px;
	height: 30px;
}

.searchBtn {
	cursor: pointer;
	right: 25px
}
