.topMenu {
	
	position: relative;
	width: 1279px;
	height: 200px;
	background-image: url('http://i.imgur.com/yRBMENG.png');
	margin: 0 auto; 
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
}

.views {
	width: 1150px;
	height: 600px;
	margin: 0 auto; 
}

.searchFields {
	width: 400px;
	padding-top: 12px;
	padding-left: 40px; 
	background-color: rgba(255, 255, 255, 0.75);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 20px;
}

input {
	width: 200px;
	height: 40px;
}

.searchBtn {
	cursor: pointer;
	right: 25px
}

.btnGrp {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
}

.navBtn {
	background-color: white;
  border-color: grey;
	color: black; 
	margin-top: 4px;
}