<div>

	<div class="btnGrp">
		<a class="btn btn-info" style="background-color: white; border-color: grey; color: black; margin-top: 4px;" ng-click="getSummonerInfo();"> Champion Statistics </a>
		<a class="btn btn-info" style="background-color: white; border-color: grey; color: black; margin-top: 4px;" ng-click="drawEloChart();" href="#/eloStats"> Elo Statistics </a>
		<a class="btn btn-info" style="background-color: white; border-color: grey; color: black; margin-top: 4px;" href="#/liveGame"> Live Game </a>
	</div>

	<div style="padding-top: 70px;">
		<h1> Champion Stats </h1>

		<p> Summoner name : {{newSummoner.name}} </p>
		<p> Summoner level : {{newSummoner.summonerLevel}} </p>
		<p> Total games played : {{allGames.stats.totalSessionsPlayed}} </p> <!--todo wins losses -->

		<br>

		<p> Top 10 played champions </p> 
		<canvas id="myChart" width="460" height="260"></canvas>
	</div>

</div>