<div>

	<div class="btnGrp">
		<a class="btn btn-info" style="background-color: white; border-color: grey; color: black; margin-top: 4px;" ng-click="getSummonerInfo();"> Champion Statistics </a>
		<a class="btn btn-info" style="background-color: white; border-color: grey; color: black; margin-top: 4px;" ng-click="drawEloChart();"> Elo Statistics </a>
		<a class="btn btn-info" style="background-color: white; border-color: grey; color: black; margin-top: 4px;" href="#/liveGame"> Live Game </a>
	</div>

	<div style="padding-top: 70px;">
		<h1> Elo Stats </h1>
	
		<br>

		<p>	elo trace for 10 latest matches. </p>
		<canvas id="myChart2" width="800" height="460"></canvas>

		<br>

		<p> season W/L records </p>
		<canvas id="myChart3" width="800" height="460"></canvas>

	</div>
</div>