<div>

	<div class="btnGrp">
		<a class="btn btn-info" style="background-color: white; border-color: grey; color: black; margin-top: 4px;" href="#/championStats" onclick="return testchart(30,80);"> Champion Statistics </a>
		<a class="btn btn-info" style="background-color: white; border-color: grey; color: black; margin-top: 4px;" href="#/eloStats"> Elo Statistics </a>
		<a class="btn btn-info" style="background-color: white; border-color: grey; color: black; margin-top: 4px;" href="#/liveGame"> Live Game </a>
	</div>
	<div style="padding-top: 70px;">
		<h1> Live Game </h1>
	</div>
</div>